.git
.env
.env.*
!.env.example
.venv
.venv-1
__pycache__
**/__pycache__
*.py[cod]
*.log
.pytest_cache
.mypy_cache
.ruff_cache
db.sqlite3
staticfiles
media
frontend
node_modules
package-lock.json
README.md
celerybeat-schedule*
.coverage*
htmlcov
